body {
    
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
}

/* * {
    border: 1px red solid;
} */

img {
    
    width: 300px;

}

.header li {

    font-size: 18px;
    color: #e5e7eb;

    list-style: none;
    margin: 0px 15px;
    padding: 0px 15px;

}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    

}

.header ul {
    display: flex;
    margin-left: auto;

}

/* header container */
.header {
    background-color: #1f2937;

    display: flex;
    flex-direction: row;

    align-items: center;
    padding-left: 100px;
}

/* main signup container */
.signup-box {
    background-color: #1f2937;

    display: flex;
    flex-direction: row;

    padding: 20px;
    
}

.signup-title {

    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

    margin-bottom: 15px;
}

.signup-words {
    display: flex;
    flex-direction: column;
    
    justify-content: center;

    width: 500px;
    margin-left: 100px;
    
    padding: 20px;
}

.signup-text {
    color: #e5e7eb;
    font-size: 18px;

    margin-bottom: 15px;
}

.signup-words .signup-button {
    width: 120px;
    padding: 5px;

    border-radius: 8px;
    border: 0;

    font-size: 18px;
    font-weight: bold;

    color: #e5e7eb;
    background-color: #3882f6;

}

.info-section {
    display: flex;
    flex-direction: column;

    padding: 30px;
}

.info-title {
    text-align: center;
    padding: 20px;

    font-size: 36px;
    color: #1f2937;
    font-weight: 900;

}

.info-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

}

.item {
    width: 160px;

}

.item img {
    width: 150px;
    border-radius: 8px;
    border: solid 3px #3882f6; 
     
}

.item p {
    text-align: center;
    font-size: 18px;
    color: darkslategrey;
}

.quote-box {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 100px 0px;

    background-color: #e5e7eb;
}

.quote-section {
    
    display: flex;
    flex-direction: column;
        
    width: 800px;
   

}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;

}

.quote-sig {
    text-align: end;

}

